streamlit
pandas
plotly.express
matplotlib.colors
plotly.graph_objs
streamlit.components.v1
pillow
base64
numpy
plotly
matplotlib
sklearn.model_selection 
sklearn 
sklearn.ensemble 







