streamlit 
pandas
plotly
matplotlib
plotly-express
matplotlib-colors
components.v1.html
base64
numpy
plotly
matplotlib
sklearn.model_selection
sklearn
sklearn.ensemble 
scipy.stats
streamlit-extras
seaborn
openpyxl
plost

scikit-learn
scipy
statsmodels


